<div class="column is-one-quarter">
    <div class="card">
        <header class="card-header">
            <p class="card-header-title is-centered">
                <%= event.title %>
            </p>
        </header>

        <div class="card-content event-card has-text-centered">
            <div class="content">
                <%= event.description %>
            </div>
            <%= event.date.strftime('%a %b %d %Y') %> | <%= event.time.strftime('%H:%M')%>
        </div>
    <footer class="card-footer">
        <a href="<%= event_path(event)%>" class="card-footer-item">Details</a>
    </footer>
    </div>
</div>