<%= form_with model: @event do |f| %>
  <div class="field">
    <%= f.label :title, 'Your even\'s title: ', class: 'label' %>
    <div class="control">
        <%= f.text_field :title, class: 'input'%>
    </div>
  </div>

  <div class="field">
    <%= f.label :description, 'Describe your event', class: 'label' %>
    <div class="control">
        <%= f.text_area :description, class: 'input'%>
    </div>
  </div>

  <div class="field">
    <%= f.label :location, 'Your even\'s Location: ', class: 'label' %>
    <div class="control">
        <%= f.text_field :location, class: 'input'%>
    </div>
  </div>

  <div class="field">
    <%= f.label :date, 'Your event\'s date: ', class: 'label'%>
    <div class="control">
    <%= f.date_select :date, class:'select' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :time, 'Your event\'s time: ', class: 'label'%>
    <div class="control">
    <%= f.time_select :time, class:'input' %>
    </div>
  </div>

    <div class="level">
      <div class="level-item is-justify-content-flex-end">
        <%= f.submit :Create, class: "button is-danger has-text-weight-medium" %>
      </div>
  </div>
<% end %>