<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <div class="card">
          <header class="card-header">
              <p class="card-header-title is-centered">
                  <%= @event.title %>
              </p>
          </header>

          <div class="card-content">
              <div class="content">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, possimus! Debitis eligendi quos, dolores, vero facere rerum velit illum temporibus dicta dolor culpa, inventore repellendus voluptatum dolorem ab iure omnis!
              </div>
          </div>
          <% if user_signed_in? %>
          <div class="level">
            <div class="level-item is-justify-content-flex-center">
              <% unless @event.attendees.include?(current_user) %>
                <%= render 'attendance' %>
              <% else %>
                <%= render 'unattend' %>
              <% end %>
            </div>
          </div>
          
              <div class="card-footer">
            <% if current_user.id == @event.creator_id %>
                <%= link_to 'Edit', edit_event_path(@event), class: 'card-footer-item button is-link is-inverted' %>
                <%= link_to 'Delete', event_path(@event),
                    data: { method: :delete },
                    class: 'card-footer-item button is-link is-inverted'
                %>
            <% end %>
              </div>
          <% end %>
      </div>
    </div>

  </div>
    <div class="columns is-centered">
      <div class="column is-6">
        <div class="box">
          <h3 class='title is-4 has-text-centered'> Attendees List </h3>
          <% @event.attendees.each do |attendee| %>
              <p>
                <%= attendee.email %>
              </p>
          <% end %>
        </div>
        </div>
      </div>
</section>